<div class="container-fluid pt-4 px-4">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-sm-12 col-xl-9 ml-5">
 <table class="table" id="myTable">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Date</th>
        <th scope="col">Total Price</th>
        <th scope="col">Items</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <% year.forEach((obj,index)=>{ %>
    <tbody>
      <tr>
        <td scope="row"><%= index+1 %></td>
        <td><%=obj._id.year%></td>
        <td><%=obj.totalPrice%></td>
        <td><%=obj.items%></td>
        <td><%=obj.count%> </td>
      </tr>
    </tbody>
    <% }) %>  

  </table>
  <button id="download-button" class="btn btn-primary float-right mb-3 mr-5 mt-3"><i class="bi bi-download"></i></button>

</div>
</div>
</div>


 <head>
    
     <script>$(document).ready(function () {
       
        var table = $('#myTable').DataTable();
    });
    </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const button = document.getElementById('download-button');

    function generatePDF() {
      // Choose the element that your content will be rendered to.
      const element = document.getElementById('myTable');
      // Choose the element and save the PDF for your user.
      html2pdf().from(element).save();
    }

    button.addEventListener('click', generatePDF);
  </script>
 </head>

